<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AFNetWorking_NetFailure</key>
	<string>网络连接出错，请检测您的网络</string>
	<key>DataCenter_NetStatus</key>
	<string>您还没连接上网络</string>
	<key>AppleDelgate_WXShareUrl</key>
	<string>http://www.hejiajinrong.com/page/download</string>
	<key>AppleDelgate_QQShareUrl</key>
	<string>http://www.hejiajinrong.com/page/download</string>
	<key>AppleDelgate_SinaShareUrl</key>
	<string>http://www.hejiajinrong.com/</string>
	<key>AppleDelgate_updateTitle</key>
	<string>有新的版本可以更新</string>
	<key>AppleDelgate_updateAction1</key>
	<string>去更新</string>
	<key>AppleDelgate_updateAction2</key>
	<string>以后再说</string>
	<key>AppleDelgate_updateErrorTitle</key>
	<string>更新提示</string>
	<key>AppleDelgate_updateErrorMsg</key>
	<string>获取更新内容失败</string>
	<key>AboutGroupMV_plusGroupCashStr</key>
	<string>(现金红包)</string>
	<key>AboutGroupMV_plusGroupLiCaiStr</key>
	<string>(理财红包)</string>
	<key>AboutGroupMV_inviteGroupCashStr</key>
	<string>(现金红包)</string>
	<key>AboutGroupMV_inviteGroupLiCaiStr</key>
	<string>(理财红包)</string>
	<key>AboutGroup_TitleStr</key>
	<string>关于合群</string>
	<key>AboutGroup_ShareBtnTitle</key>
	<string>分享我的群</string>
	<key>AboutGroup_exitGroupAlertTitle</key>
	<string>您真的要退出这个群吗？</string>
	<key>AboutGroup_exitGroupAlertAction1</key>
	<string>退出</string>
	<key>AboutGroup_exitGroupAlertAction2</key>
	<string>取消</string>
	<key>AboutGroup_waitingExitGroup</key>
	<string>退出中...</string>
	<key>AboutGroup_ShareTitle</key>
	<string>加入合群，拼团理财拿红包，更多惊喜等着你</string>
	<key>AboutHeJia_TitleStr</key>
	<string>关于我们</string>
	<key>AboutHeJia_IntroduceTitle</key>
	<string>平台介绍</string>
	<key>AboutHeJia_QualityTitle</key>
	<string>资质荣誉</string>
	<key>AboutHeJia_MediaReportTitle</key>
	<string>媒体报道</string>
	<key>AchieveDetailCell_lbCTime</key>
	<string>获得时间:</string>
	<key>AchieveDetailCell_lbCTime2</key>
	<string>您还未获得该勋章</string>
	<key>AchieveDetailCell_lbAAward</key>
	<string>勋章奖励:</string>
	<key>AchieveDetail_Title</key>
	<string>勋章详情</string>
	<key>Achievement_Title</key>
	<string>我的勋章</string>
	<key>ActivityCenter_Title</key>
	<string>活动中心</string>
	<key>AddressList_Title</key>
	<string>地址管理</string>
	<key>AddressList_AddAddressBtnTitle</key>
	<string>添加新地址</string>
	<key>AddressList_ShowTipTitle</key>
	<string>正在调整默认地址....</string>
	<key>AddressList_AlertTitle</key>
	<string>确认删除该地址吗?</string>
	<key>AddressList_AlertAction1</key>
	<string>确定</string>
	<key>AddressList_AlertAction2</key>
	<string>取消</string>
	<key>AddressList_ShowTipTitle2</key>
	<string>正在删除地址....</string>
	<key>AddressViewCell_ListArr0</key>
	<string>收货人</string>
	<key>AddressViewCell_ListArr1</key>
	<string>联系电话</string>
	<key>AddressViewCell_ListArr2</key>
	<string>所在地址</string>
	<key>AddressViewCell_ListArr3</key>
	<string>邮政编码</string>
	<key>AddressViewCell_ListArr4</key>
	<string>详细地址</string>
	<key>AddressViewCell_NameFieldPH</key>
	<string>请输入收货人姓名</string>
	<key>AddressViewCell_MobileFieldPH</key>
	<string>请输入电话号码</string>
	<key>AddressViewCell_LbHoder</key>
	<string>请选择</string>
	<key>AddressViewCell_ZipCodeFieldPH</key>
	<string>&quot;(选填)</string>
	<key>AddrViewCell_defaultBtnTitle</key>
	<string>设为默认</string>
	<key>AddrViewCell_DeleteBtnTitle</key>
	<string>删除</string>
	<key>AddrViewCell_EditBtnTitle</key>
	<string>编辑</string>
	<key>AfterInviteMV_Title2_type1</key>
	<string>赠送红包成功！</string>
	<key>AfterInviteMV_Title2_type2</key>
	<string>赠送加息券成功！</string>
	<key>AfterInviteMV_Title2_type3</key>
	<string>赠送积分成功</string>
	<key>AfterInviteMV_Title2_type4</key>
	<string>赠送大家抢成功！</string>
	<key>AfterInviteMV_Title_type1</key>
	<string>红包</string>
	<key>AfterInviteMV_Title_type2</key>
	<string>加息券</string>
	<key>AfterInviteMV_Title_type3</key>
	<string>积分</string>
	<key>AfterInvite_Title</key>
	<string>您已发送拼团邀请给</string>
	<key>AfterInvite_InviteBtnTitle</key>
	<string>继续邀请</string>
	<key>AfterInvite_InviteBtnTitle2</key>
	<string>继续赠送</string>
	<key>AfterInvite_ShowTipTitle</key>
	<string>赠送中...</string>
	<key>AfterInvite_lbTitle2</key>
	<string>赠送失败</string>
	<key>AfterInvite_Title2</key>
	<string>邀请失败</string>
	<key>ApplyResult_Title</key>
	<string>审核结果</string>
	<key>ApplyResult_RightButtonItemTitle</key>
	<string>客服</string>
	<key>ApplyResult_Result</key>
	<string>审核中</string>
	<key>ApplyResult_BtnNextTitle1</key>
	<string>返回银行卡详情</string>
	<key>ApplyResult_Result2</key>
	<string>审核通过</string>
	<key>ApplyResult_BtnNextTitle2</key>
	<string>绑定新手机号</string>
	<key>ApplyResult_Reason</key>
	<string>原银行卡预留手机号已与银行卡解除绑定, 请通过添加银行卡流程绑定新手机号码</string>
	<key>ApplyResult_Result3</key>
	<string>拒绝</string>
	<key>ApplyResult_BtnNextTitle3</key>
	<string>重新申请</string>
	<key>ApplyResult_BtnNextTitle4</key>
	<string>返回银行卡详情</string>
	<key>ApplyResult_BtnNextTitle5</key>
	<string>重新申请</string>
	<key>ApplyResult_ApplyType1</key>
	<string>BankCardReplacement</string>
	<key>ApplyResult_ShowTipTitle</key>
	<string>绑定手机号中....</string>
	<key>ApplyResult_ShowAlertTitle</key>
	<string>绑定成功</string>
	<key>ApplyResult_ShowAlertAction1</key>
	<string>确定</string>
	<key>ApplyResult_titleStr</key>
	<string>绑定成功</string>
	<key>AreasAddress_Title</key>
	<string>选择区</string>
	<key>AssetsDetailMV_redPacket</key>
	<string>红包</string>
	<key>AssetsDetailMV_card</key>
	<string>卡券</string>
	<key>AssetsDetail_lbFix</key>
	<string>相关合同</string>
	<key>AssetsDetail_Title</key>
	<string>资产详情</string>
	<key>AssetsDetail_lbVip</key>
	<string>VIP收益</string>
	<key>AssetsDetail_btnBowTitle</key>
	<string>(发至聚宝盆)</string>
	<key>AssetsDetail_invsetCalendarItem_name1</key>
	<string>购买成功</string>
	<key>AssetsDetail_invsetCalendarItem_name2</key>
	<string>收益中</string>
	<key>AssetsDetail_invsetCalendarItem_name3</key>
	<string>月返息详情</string>
	<key>AssetsDetail_invsetCalendarItem_name4</key>
	<string>已到期</string>
	<key>AssetsDetail_invsetCalendarItem_name5</key>
	<string>兑付中</string>
	<key>AssetsDetail_invsetCalendarItem_name6</key>
	<string>已兑付，还款中</string>
	<key>AssetsDetail_invsetCalendarItem_name7</key>
	<string>已还款（到期后2个工作日内还款）</string>
	<key>AssetsDetail_status1</key>
	<string>已到期</string>
	<key>AssetsDetail_status2</key>
	<string>兑付中</string>
	<key>AssetsDetail_status3</key>
	<string>还款中</string>
	<key>AssetsDetail_status4</key>
	<string>已还款</string>
	<key>AssetsDetail_aryData_name</key>
	<string>收益中</string>
	<key>AssetsDetail_calendarCellImgName1</key>
	<string>progress1.png</string>
	<key>AssetsDetail_calendarCellImgName2</key>
	<string>progress1.png</string>
	<key>AssetsDetail_calendarCellImgName3</key>
	<string>progress2.png</string>
	<key>AssetsDetail_calendarCellImgName4</key>
	<string>progress3.png</string>
	<key>AssetsDetail_calendarCellImgName5</key>
	<string>progress4.png</string>
	<key>AssetsListMV_S_filterList0</key>
	<string>全部</string>
	<key>AssetsListMV_S_filterList1</key>
	<string>未到期</string>
	<key>AssetsListMV_S_filterList2</key>
	<string>兑付中</string>
	<key>AssetsListMV_S_filterList3</key>
	<string>已还款</string>
	<key>AssetsListMV_S_sortList0</key>
	<string>最近购买</string>
	<key>AssetsListMV_S_sortList1</key>
	<string>最近到期</string>
	<key>AssetsListMV_S_sortList2</key>
	<string>收益率从高到低</string>
	<key>AssetsListMV_S_sortList3</key>
	<string>当前收益从高到低</string>
	<key>AssetsListMV_S_sortList4</key>
	<string>本金从高到底</string>
	<key>AssetsList_Title</key>
	<string>资产明细</string>
	<key>AssetsList_BtnFilterTitle</key>
	<string>全部</string>
	<key>AssetsList_BtnSortTitle</key>
	<string>最近购买</string>
	<key>AssetsList_ImgNoDataTitle</key>
	<string>暂无资产</string>
	<key>AssetsList_ImgNoDataTitle2</key>
	<string>暂无资产</string>
	<key>BankCardDetail_lbMark1</key>
	<string>当前银行卡未兑付资产</string>
	<key>BankCardDetail_lbMark2</key>
	<string>无未兑付资产</string>
	<key>BankCardDetail_Title</key>
	<string>银行卡详情</string>
	<key>BankCardDetail_btnRemove_Normal</key>
	<string>解除绑定</string>
	<key>BankCardDetail_btnRemove_Disable</key>
	<string>有未兑付资产, 不能解除绑定</string>
	<key>BankCardDetail_rightItemTitle</key>
	<string>申请变更</string>
	<key>BankCardDetail_applyType</key>
	<string>BankCardReplacement</string>
	<key>BankCardDetail_status</key>
	<string>CHECKPENDING</string>
	<key>BankCardDetail_AlertAction1</key>
	<string>变更银行卡</string>
	<key>BankCardDetail_AlertAction2</key>
	<string>变更预留手机号</string>
	<key>BankCardDetail_AlertCancel</key>
	<string>关闭</string>
	<key>BankCardDetail_ShowTipTitle</key>
	<string>解绑中....</string>
	<key>BankCardDetail_Alert2Action</key>
	<string>确定</string>
	<key>BankCardDetail_Alert2Title</key>
	<string>解除成功</string>
	<key>BankCardDetail_lbSuccess</key>
	<string>解绑成功!</string>
	<key>BankCardList_Title</key>
	<string>选择银行卡</string>
	<key>BankCardList_Title2</key>
	<string>管理银行卡</string>
	<key>BankCardList_btnAddBankTitle</key>
	<string>+添加银行卡</string>
	<key>BankSignMV_repStr</key>
	<string>**********</string>
	<key>BankSignMV_repStr2</key>
	<string>*******</string>
	<key>BankSign_Title</key>
	<string>添加银行卡</string>
	<key>BankSign_AlertTitle1</key>
	<string>请填写姓名</string>
	<key>BankSign_AlertTitle2</key>
	<string>请填写身份证号码</string>
	<key>BankSign_AlertTitl3</key>
	<string>请填写银行卡</string>
	<key>BankSign_lbAuth</key>
	<string>绑定银行卡即可完成实名认证</string>
	<key>BankSign_ShowTipTitle</key>
	<string>正在提交....</string>
	<key>BankSign_AlertAction1</key>
	<string>确定</string>
	<key>BankSign_AlertTitl4</key>
	<string>绑卡成功</string>
	<key>BankSign_lbTitle</key>
	<string>选择银行</string>
	<key>BankSign_tfRightPH</key>
	<string>请输入姓名</string>
	<key>BankSign_lbLeft</key>
	<string>姓名</string>
	<key>BankSign_lbLeft2</key>
	<string>身份证</string>
	<key>BankSign_tfRightPH2</key>
	<string>请输入身份证</string>
	<key>BankSign_lbLeft3</key>
	<string>银行</string>
	<key>BankSign_lbLeft4</key>
	<string>卡号</string>
	<key>BankSign_tfRightPH4</key>
	<string>银行卡号</string>
	<key>BankSign_AlertTitl5</key>
	<string>请先选择银行</string>
	<key>BankSign_ShowTipTitle2</key>
	<string>绑卡中....</string>
	<key>BankSign_AlertTitl6</key>
	<string>绑卡成功</string>
	<key>BankSign_AlertTitl7</key>
	<string>绑卡失败</string>
	<key>BankSign_tooBarTitle</key>
	<string>完成</string>
	<key>BannerWeb_rightBarItemTitle</key>
	<string>关闭</string>
	<key>BannerWeb_messageName1</key>
	<string>showFinancing</string>
	<key>BannerWeb_messageName1_jump</key>
	<string>ProductList</string>
	<key>BannerWeb_messageName2</key>
	<string>showProducts</string>
	<key>BannerWeb_messageName2_jump</key>
	<string>MineHome/TotalAmount</string>
	<key>BannerWeb_alertTitle</key>
	<string>提醒</string>
	<key>BannerWeb_alertAction</key>
	<string>知道了</string>
	<key>BannerWeb_urlSheme_equalStr</key>
	<string>objc</string>
	<key>BannerWeb_urlSeparateByStr</key>
	<string>/</string>
	<key>BannerWeb_urlSeparateByStr2</key>
	<string>!!</string>
	<key>BannerWeb_strCmd1</key>
	<string>showProducts</string>
	<key>BannerWeb_strCmd1_jump</key>
	<string>ProductList</string>
	<key>BannerWeb_strCmd2</key>
	<string>showFinancing</string>
	<key>BannerWeb_strCmd2_jump</key>
	<string>MineHome/TotalAmount</string>
	<key>BannerWeb_strCmd3</key>
	<string>close</string>
	<key>BannerWeb_strCmd4</key>
	<string>goservice</string>
	<key>BannerWeb_strCmd4_jump</key>
	<string>CustomerService</string>
	<key>BannerWeb_strCmd5</key>
	<string>goShakeActivity</string>
	<key>BannerWeb_strCmd5_jump</key>
	<string>Rock</string>
	<key>BannerWeb_strCmd6</key>
	<string>hequn</string>
	<key>BannerWeb_strCmd6_jump</key>
	<string>GregariousHome</string>
	<key>BannerWeb_strCmd7</key>
	<string>showBackHome</string>
	<key>BannerWeb_strCmd7_jump</key>
	<string>HomeList</string>
	<key>BannerWeb_strCmd8</key>
	<string>showContinueInvest</string>
	<key>BannerWeb_strCmd8_canBackName</key>
	<string>ZeroBuy</string>
	<key>BannerWeb_strCmd8_canBack_jump</key>
	<string>ZeroBuy</string>
	<key>BannerWeb_strCmd8_jumpCompletion_parm</key>
	<string>orderId</string>
	<key>BannerWeb_strCmd8_jumpCompletion_jump</key>
	<string>MallOrder</string>
	<key>BannerWeb_strCmd8_jumpCompletion_jumpParm</key>
	<string>orderId</string>
	<key>BannerWeb_strCmd8_canBackElseParm</key>
	<string>orderId</string>
	<key>BannerWeb_strCmd8_canBackElse_jump</key>
	<string>MallOrder</string>
	<key>BannerWeb_strCmd8_canBackElse_jumpParm</key>
	<string>orderId</string>
	<key>BannerWeb_strCmd9</key>
	<string>showMallOrder</string>
	<key>BannerWeb_strCmd9_jump</key>
	<string>MineHome/MallOrderList</string>
	<key>BannerWeb_strCmd10_urlSeperateByStr</key>
	<string>://</string>
	<key>BannerWeb_strCmd10_urlSeperateByStr2</key>
	<string>/-_-/</string>
	<key>BannerWeb_strCmd10_funcStr_equalStr</key>
	<string>doFunc1</string>
	<key>BannerWeb_urlSheme_equalStrElse_containStr</key>
	<string>/trade/</string>
	<key>BannerWeb_observe_keyPath</key>
	<string>estimatedProgress</string>
	<key>BannerWeb_backItem_img</key>
	<string>icon_back</string>
	<key>New item - 17</key>
	<string></string>
	<key>New item - 16</key>
	<string></string>
	<key>New item - 15</key>
	<string></string>
	<key>New item - 14</key>
	<string></string>
	<key>New item - 13</key>
	<string></string>
	<key>New item - 12</key>
	<string></string>
	<key>New item - 11</key>
	<string></string>
	<key>New item - 10</key>
	<string></string>
	<key>New item - 9</key>
	<string></string>
	<key>New item - 8</key>
	<string></string>
	<key>New item - 7</key>
	<string></string>
	<key>New item - 6</key>
	<string></string>
	<key>New item - 5</key>
	<string></string>
	<key>New item - 2</key>
	<string></string>
	<key>New item - 3</key>
	<string></string>
	<key>New item</key>
	<string></string>
	<key>New item - 24</key>
	<string></string>
</dict>
</plist>
